// Place all the styles related to the Recursos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a:visited {
  color: white;
}
a:hover {
  color: white;
  background-color: white;
}

.btn, .btn:hover, .btn-primary, .btn:visited {
  color: white;
  background-color: var(--button-bg-color);
  border-color: var(--button-bg-color);
}
