<!DOCTYPE html>
<html>
  <head>
    <title>GaloEnf</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="margin: 0px;">
    <style>
      #mainNav {
        background-color: var(--nav-bg-color);
        margin: 0px;
      }

      #footer {
        background-color: var(--nav-bg-color);
        height: 100px;
        color: white;
        text-align: center;
        position: relative;
        bottom: 0px;
      }

      html, body {
        margin: 0;
        height: 100%;
      }

    </style>

    <div id="skipnav"><a href="#maincontent">Skip to main content</a></div>

        <!-- Navigation -->
        <nav id="mainNav" class="navbar navbar-custom" style="">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/home/index">GaloEnf</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li class="page-scroll">
                          <a href="/alunos">Alunos</a>

                        </li>
                        <li class="page-scroll">
                          <a href="/ocorrencias">Ocorrencias</a>

                        </li>
                        <li class="page-scroll">
                          <a href="/recursos">Recursos</a>
                          <!-- <a href="#contact">Recursos</a> -->
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

    <%= yield %>


    <div id="footer">

    </div>

  </body>
</html>
