<header>
  <title>GaloEnf</title>
</header
<body>
  <style>
  .container1  {
    background-color: var(--primary-color);
  }
  </style>

  <div class="container1">
      <div class="row">
          <div class="col-sm-4 portfolio-item">
              <img src="/assets/shared-folder.png" class="img-responsive" alt="Cabin">
              <div class="intro-text">
                  <h2>Alunos</h2>
              </div>
          </div>
          <div class="col-sm-4 portfolio-item">
              <img src="/assets/file.png" class="img-responsive" alt="Cabin">
              <div class="intro-text">
                  <h2>Ocorrencias</h2>
              </div>
          </div>
          <div class="col-sm-4 portfolio-item">
              <img src="/assets/medicines.png" class="img-responsive" alt="Cabin">
              <div class="intro-text">
                  <h2>Recursos</h2>
              </div>
          </div>
      </div>
  </div>
</body>
