<header>
  <title>GaloEnf</title>
</header
<body>
  <style>
  .images-container {
        padding-left: 160px;
        padding-top: 80px;
  }

  a:hover {
        color: black;
        text-decoration: none;
  }

  </style>

  <div class="images-container">
      <div class="row">
          <div class="alunos col-sm-4">
            <a  href="/alunos">
              <img src="/assets/shared-folder.png" class="img-responsive" alt="Cabin">
              <div class="intro-text">
                  <h2>Alunos</h2>
              </div>
            </a>
          </div>

          <div class="ocorrencias col-sm-4">
            <a  href="/ocorrencias">
              <img src="/assets/file.png" class="img-responsive" alt="Cabin">
              <div class="intro-text">
                  <h2>Ocorrencias</h2>
              </div>
            </a>
          </div>

          <div class="recursos col-sm-4">
            <a  href="/ocorrencias">
              <img src="/assets/medicines.png" class="img-responsive" alt="Cabin">
              <div class="intro-text">
                  <h2>Recursos</h2>
              </div>
            </a>
          </div>
      </div>
  </div>
</body>
